node_modules
**/__screenshots__/
**/build/
**/dist/

.env*
.netlify/
.react-router/
.wrangler/

# Ignore editor backup files
**~

## Playwright debug files
test-results/
playwright-report/
playwright/.cache/

